<div class="large-link">
    <div class="col-sm-4">
        <img src="/assets/images/{{picture}}" />
    </div>
    <div class="col-sm-8 left">
        <h3>{{title}}</h3>
        {{yield}}
    </div>
</div>
