<h2>Also Coming Soon!</h2>
<h3>Import all of your class at once from your Excel spreadsheets!</h3>
<p>
    Just confirm that we've matched things up correctly!
</p>
{{file-uploader}}
<button type="button" class="btn btn-warning" {{action "cancel"}}>Cancel</button>
{{yield}}
