<h1 class="col-9">{{model.name}} Feedback Sheets</h1>
<div class="row align-contents-centre">
    <button {{action 'print'}} class="btn btn-primary">Print</button>
</div>


{{#each studentFeedbacks as |studentFeedback|}}
    {{fb/feedback-sheet studentFeedback=studentFeedback}}
{{/each}}
