{{!-- Code put back into parent - unable to pass object from child component back

{{!-- {{#each levelsArray as |item|}}

    <span class="level-toggle{{if item.selected "-selected"}}" {{action 'toggleLevel' item}} >{{item.level}}</span>

{{/each}} --}} --}}
