<h1>Planner Route</h1>

{{#link-to 'planner.year'}}<button class="btn btn-primary">Year</button>{{/link-to}}
{{#link-to 'planner.month'}}<button class="btn btn-primary">Month</button>{{/link-to}}
{{#link-to 'planner.week'}}<button class="btn btn-primary">Week</button>{{/link-to}}

{{#link-to 'planner.timetable'}}<button class="btn btn-primary">Timetable</button>{{/link-to}}

{{outlet}}
