<h3>{{question.name}}</h3>

{{yield}}

<h2>Who framed Roger Rabbit?</h2>

<div>
    <img class="qp-image" src="/assets/images/classes/kids1.png" alt="">
</div>

<div class="qq-timer">
    Timer along the bottom goes here
</div>

<div class="qp-options">
    {{!-- TODO - refactor these with coloured pieces elsewhere, eg question preview etc. --}}
    <div class="qp-answer option-red">
        Danielle
    </div>
    <div class="qp-answer option-amber">
        Robin
    </div>
    <div class="qp-answer option-green">
        Claude
    </div>
    <div class="qp-answer option-blue">
        Lois
    </div>
</div>
