{{#forms/form-container}}


    {{#forms/form-row label="Timer"}}
        <div class="row">
            {{forms/toggle-switch}}
        </div>
        <div class="row">
            {{input class="form-control" placeholder="TODO - Slider to go here."}}
        </div>
    {{/forms/form-row}}

    {{#forms/form-row label="Show Answers"}}
        <div class="row">
            {{forms/toggle-switch}}
        </div>
        <div class="row">
            {{input class="form-control" placeholder="TODO - Slider to go here."}}
        </div>
    {{/forms/form-row}}
{{/forms/form-container}}
