<h3>We have {{model.length}} Questions</h3>

{{#link-to 'questions.new'}}<button class="btn btn-success">Create a new Question</button>{{/link-to}}

<h1>Questions listed below:</h1>
{{#each model as |question|}}
<div class="card">
    <div class="card-body">
        {{question-preview question=question}}
    </div>
</div>
{{/each}}
