<div class="smileyBox seatUIapp red">
    {{#if snapBlue}}<img class="smiley smileyRed" src="/assets/images/bsmiley.png" />{{/if}}
    {{#if snapRed}}<img class="smiley smileyRed" src="/assets/images/rsmiley.png" />{{/if}}
    {{#if snapAmber}}<img class="smiley smileyAmber" src="/assets/images/asmiley.png" />{{/if}}
    {{#if snapGreen}}<img class="smiley smileyGreen" src="/assets/images/gsmiley.png" />{{/if}}
</div>
