<div>
    <img {{action "behaviourGood" }} class="thumbup" src="/assets/images/thumbup.png" />
    <span class="behaviour-score-box">{{bscore}}</span>
    <img {{action "behaviourBad" }} class="thumbdn" src="/assets/images/thumbdn.png" />
</div>
