<h3>Community Lesson</h3>
<div class="col-md-6">
    {{#ppt-container src="https://onedrive.live.com/embed?cid=5EAB5378E87CD233&resid=5EAB5378E87CD233%21205050&authkey=AFNbPM7kavJdNHs&em=2"}}{{/ppt-container}}
</div>
<div class="col-md-6">
    <ul class="nav nav-tabs">
        <li role="presentation" class="active">Comments</li>
        <li role="presentation">Feedback</li>
    </ul>
</div>
