<div class="container-fluid">

    <div class="row">
        {{!-- Prerequisite Objectives --}}
        <div class="col-6">
            {{#link-to 'objectives.objective.prerequisites'}}
            <div class="card">
                <img class="card-img-top img-thumbnail" src="/assets/images/lesson1.png" alt="">
                <div class="card-block">
                    <h4 class="card-title">Prerequisites</h4>
                    <p>View the objectives that should be consolidated before studying this.</p>
                </div>
            </div>
            {{/link-to}}
        </div>

        {{!-- Community Lesson --}}
        <div class="col-6">
            {{#link-to 'objectives.objective.community-lesson'}}
            <div class="card">
                <img class="card-img-top img-thumbnail" src="/assets/images/lesson1.png" alt="">
                <div class="card-block">
                    <h4 class="card-title">Community Lesson</h4>
                    <p>Use and develop a high-quality traditional style lesson</p>
                </div>
            </div>
            {{/link-to}}
        </div>


        {{!-- Resources --}}
        <div class="col-6">
            {{#link-to 'objectives.objective.resources'}}
            <div class="card">
                <img class="card-img-top img-thumbnail" src="/assets/images/lesson1.png" alt="">
                <div class="card-block">
                    <h4 class="card-title">Resources</h4>
                    <p>Find, use and develop resoures matched to this objective</p>
                </div>
            </div>
            {{/link-to}}
        </div>

        {{!-- {{#button-link-large title="Resources"  picture="kids1"}}
            Some info about this link
        {{/button-link-large}}
        {{/link-to}} --}}

        {{!-- Questions --}}
        <div class="col-6">
            {{#link-to 'objectives.objective.questions'}}
            <div class="card">
                <img class="card-img-top img-thumbnail" src="/assets/images/lesson1.png" alt="">
                <div class="card-block">
                    <h4 class="card-title">Questions</h4>
                    <p>Add some questions for this objective</p>
                </div>
            </div>
        {{/link-to}}
        </div>

    </div>
</div>
