{{#bread-crumb link='groups.group.assessments' model=model}}Assessments{{/bread-crumb}}

<h1>{{model.name}} Assessments</h1>

<div class="panel panel-info width100">
    <div class="panel-heading">
        <h3 class="panel-title">Unit Assessments</h3>
    </div>
</div>

<div class="panel panel-info width100">
    <div class="panel-heading">
        <h3 class="panel-title">General Assessments</h3>
    </div>
</div>

<div class="panel panel-info width100">
    <div class="panel-heading">
        <h3 class="panel-title">Create an Assessment</h3>
    </div>
</div>

        {{outlet}}
