<div class="container">
    <div class="row">

        {{!-- Feedback Sheets --}}
        <div class="col-6">
            {{#link-to 'groups.group.feedback-sheets' model}}
            <div class="card">
                <img class="card-img-top img-thumbnail" src="/assets/images/kids.png" alt="">
                <div class="card-block">
                    <h4 class="card-title">Feedback Sheets</h4>
                    <p>More details...</p>
                </div>
            </div>
            {{/link-to}}
        </div>


        {{!-- Seating Plan --}}
        <div class="col-6">
            {{#link-to 'groups.group.seating-plan' model}}
            <div class="card">
                <img class="card-img-top img-thumbnail" src="/assets/images/kids.png" alt="">
                <div class="card-block">
                    <h4 class="card-title">Seating Plan</h4>
                    <p>More details...</p>
                </div>
            </div>
            {{/link-to}}
        </div>

        {{!-- {{#link-to 'groups.group.seating-plan' model}}
        {{#button-link-large title="Seating Plan" picture="kids1.png"}}
            Some info about this link
        {{/button-link-large}}
        {{/link-to}} --}}

        <div class="col-6">
            {{#link-to 'groups.group.gradebook' model}}
            <div class="card">
                <img class="card-img-top img-thumbnail" src="/assets/images/kids.png" alt="">
                <div class="card-block">
                    <h4 class="card-title">Gradebook</h4>
                    <p>More details...</p>
                </div>
            </div>
            {{/link-to}}
        </div>
        {{!--
        {{#link-to 'groups.group.gradebook' model}}
        {{#button-link-large title="Gradebook" picture="kids1.png"}}
            Some info about this link
        {{/button-link-large}}
        {{/link-to}} --}}


        <div class="col-6">
            {{#link-to 'groups.group.assessments' model}}
            <div class="card">
                <img class="card-img-top img-thumbnail" src="/assets/images/kids.png" alt="">
                <div class="card-block">
                    <h4 class="card-title">Assessment</h4>
                    <p>More details...</p>
                </div>
            </div>
            {{/link-to}}
        </div>
        {{!-- {{#link-to 'groups.group.assessments' model}}
        {{#button-link-large title="Assessment" picture="kids1.png"}}
            Some info about this link
        {{/button-link-large}}
        {{/link-to}} --}}



        <div class="col-6">
            {{#link-to 'groups.group.students' model}}
            <div class="card">
                <img class="card-img-top img-thumbnail" src="/assets/images/kids1.png" alt="">
                <div class="card-block">
                    <h4 class="card-title">Students</h4>
                    <p>More details...</p>
                </div>
            </div>
            {{/link-to}}
        </div>
        {{!-- {{#link-to 'groups.group.students' }}
        {{#button-link-large title="Quick Questions" picture="kids1.png"}}
            Some info about this link
        {{/button-link-large}}
        {{/link-to}} --}}

    </div>
</div>
