<div class="col-sm-6">
    <img src="/assets/images/classes/kids1.png" />
</div>

<div class="">
    <h2>Current Unit Overview</h2>
    <table class="table table-condensed">
        <tbody>
            <tr>
                <td>Average Level: <small>7c</small></td>
                <td>Average SNAP: <small>6a</small></td>
            </tr>
            <tr>
                <td>Highest Level: <small>7c</small></td>
                <td>Highest SNAP: <small>6a</small></td>
            </tr>
            <tr>
                <td>Lowest Level: <small>7c</small></td>
                <td>Lowest SNAP: <small>6a</small></td>
            </tr>
        </tbody>
    </table>
</div>

<div>
<h2>Class Levels Overview TODO </h2>
    <table class="table table-condensed">
        <tbody>
            <tr>
                <td>Average Level: <small>7c</small></td>
                <td>Average SNAP: <small>6a</small></td>
            </tr>
            <tr>
                <td>Highest Level: <small>7c</small></td>
                <td>Highest SNAP: <small>6a</small></td>
            </tr>
            <tr>
                <td>Lowest Level: <small>7c</small></td>
                <td>Lowest SNAP: <small>6a</small></td>
            </tr>
        </tbody>
    </table>
</div>
