<div class="container">
    <div class="row justify-content-center">

        {{!-- Feedback Sheets --}}
        <div class="row">
            {{#link-to 'groups.group.feedback-sheets' model}}
            <div class="card col-12">
                <img class="card-img-top img-thumbnail" src="/assets/images/kids1.png" alt="">
                <div class="card-block">
                    <h4 class="card-title">Feedback Sheets</h4>
                    <p>More details...</p>
                </div>
            </div>
            {{/link-to}}
        </div>

        {{!-- Seating Plan --}}
        {{!-- <div class="col-md-4 col-lg-2">
            {{#link-to 'groups.group.seating-plan' model}}
            <div class="card">
                <img class="card-img-top img-thumbnail" src="/assets/images/kids1.png" alt="">
                <div class="card-block">
                    <h4 class="card-title">Seating Plan</h4>
                    <p>More details...</p>
                </div>
            </div>
            {{/link-to}}
        </div> --}}

        {{!-- Gradebook --}}
        <div class="row">
            {{#link-to 'groups.group.gradebook' model}}
            <div class="card col-12">
                <img class="card-img-top img-thumbnail" src="/assets/images/kids1.png" alt="">
                <div class="card-block">
                    <h4 class="card-title">Gradebook</h4>
                    <p>More details...</p>
                </div>
            </div>
            {{/link-to}}
        </div>

        {{!-- Assessments --}}
        <div class="row">
            {{#link-to 'groups.group.assessments' model}}
            <div class="card col-12">
                <img class="card-img-top img-thumbnail" src="/assets/images/kids1.png" alt="">
                <div class="card-block">
                    <h4 class="card-title">Assessment</h4>
                    <p>More details...</p>
                </div>
            </div>
            {{/link-to}}
        </div>

        {{!-- Students --}}
        {{!-- <div class="col-md-4 col-lg-2">
            {{#link-to 'groups.group.students' model}}
            <div class="card">
                <img class="card-img-top img-thumbnail" src="/assets/images/kids1.png" alt="">
                <div class="card-block">
                    <h4 class="card-title">Students</h4>
                    <p>More details...</p>
                </div>
            </div>
            {{/link-to}}
        </div> --}}

    </div>
</div>
