<div class="width100">
    <h2 >Recap Priorities</h2>
    <table class="table width100">
        <tbody>
            <tr>
                <td colspan="3">Find the hypotenuse of a right angled triangle</td>
                <td><button class="btn btn-default">Last Assessed</button></td>
                <td><button class="btn btn-default">Quick Questions</button></td>
                <td><button class="btn btn-default">Reassess</button></td>
            </tr>
            <tr>
                <td colspan="3">Find the hypotenuse of a right angled triangle</td>
                <td>19 Mar 2016</td>
                <td><button class="btn btn-default">Quick Questions</button></td>
                <td><button class="btn btn-default">Reassess</button></td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-default">View More</button>
</div>

<div class="width100">
    <h2>Intervention Priorities</h2>
    <table class="table">
        <tbody>
            <tr>
                <td colspan=" 3">Find the hypotenuse of a right angled triangle</td>
                <td><button class="btn btn-default">Quick Questions</button></td>
                <td><button class="btn btn-default">Reassess</button></td>
            </tr>
            <tr>
                <td colspan="3">Find the hypotenuse of a right angled triangle</td>
                <td><button class="btn btn-default">Quick Questions</button></td>
                <td><button class="btn btn-default">Reassess</button></td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-default">View More</button>
</div>
