<div class="sidebar sidebar-right animated slideInRight">
    <ul id="sprimarylist">
        {{#link-to 'users.user.profile'}}<li class="sidebar-button">My Profile</li>{{/link-to}}
        <h3>My Resources</h3>
        {{#link-to 'users'}}<li class="sidebar-button">Users</li>{{/link-to}}
        <li class="sidebar-button">Support Us!</li>
        <li class="sidebar-button">Sign Out</li>
    </ul>
</div>

{{invisible-overlay onclickaction=(action "onclickaction")}}
