<h3>Write a new assessment</h3>

<h3>Title: {{input value=assessment.title}}</h3>

<h5>Description</h5>
{{input value=assessment.description}}
<button class="btn btn-success" {{action 'save'}}>Save</button>
