<h1>Classes</h1>

<div class="container">
    {{!-- Groups --}}
    <div class="row">
        {{#each model as |group|}}
            {{icons/group-icon group=group}}
        {{/each}}
    </div>
</div>

{{#link-to 'groups.new'}}<button class="btn btn-primary">Add a Class</button>{{/link-to}}
