/*.......................................................................................................................

................................................        Color Theme          ...............................................*/

/* Color Theme  */
$blue1: #d6ecff;
$blue2: #8CC5F7;
$blue3: #2196F3;
$blue4: #364EB5;
$blue5: #253F94;

// form colors


/* RAG Colors*/

$red1: #ff9090;
$red2: #FF6060;
$red3: #FF0000;
$red4: #930000;
$red5: #640000;

$amber1: #ffcc88;
$amber2: #FFAB3D;
$amber3: #FF9200;
$amber4: #FF6600;
$amber5: #FF4500;

$green1: #a7e7a7;
$green2: #7ADE78;
$green3: #00e600;
