{{!-- Classes --}}
<div class="card">
    <div class="card-block">
        <h3>My Classes</h3>
        {{!-- If any groups are registered to the user show --}}
        {{#if groups.length}}
            {{!-- Show details and links for the groups --}}
            <div class="row">
                {{#each groups as |group|}}
                    <div class="col-3">
                        {{#link-to 'groups.group' group}}
                        <div class="card">
                            <img class="card-img-top img-thumbnail" src="/assets/images/lesson1.png" />
                            <div class="card-footer">{{group.name}}</div>
                        </div>
                        {{/link-to}}
                    </div>
                {{/each}}
            </div>
            {{#link-to 'groups'}}<button class="btn btn-default">More</button>{{/link-to}}
        {{!-- If no groups are registered, show options to create a group --}}
        {{else}}
            <p>You have no classes!</p>
            {{#link-to 'groups'}}<button type="button" class="btn btn-success">Create a Class</button>{{/link-to}}
        {{/if}}
    </div>
</div>

{{!-- Each subject - TODO turn this into a component --}}
<div class="card">
    <div class="card-block">
        {{!-- Header --}}
        <div class="row">
            <h3 class="col-8">Maths</h3>
            {{!-- <div class="col-4 row justify-content-end">
                <button class="btn btn-secondary" type="button">Customise</button>
            </div> --}}
        </div>
        {{!-- Current Objective --}}
        <div class="row justify-content-center btn-group">
            <button class="btn btn-primary" type="button">I can find the hypotenuse of a right angled triangle</button>
            <button class="btn btn-outline-primary" type="button" >Change</button>
        </div>
        {{!-- Subject/Objective Shortcut buttons --}}
        <div class="row">
            {{!-- Subject Book --}}
            <div class="col-12 col-sm-6 col-md-3">
                <div class="card">
                    <img class="card-img-top img-thumbnail" src="/assets/images/books/redbook.svg" />
                    <div class="card-footer">Maths Book</div>
                </div>
            </div>
            {{!-- Resources --}}
            <div class="col-12 col-sm-6 col-md-3">
                <div class="card">
                    <img class="card-img-top img-thumbnail" src="/assets/images/lesson1.png" />
                    <div class="card-footer">Lessons</div>
                </div>
            </div>
            {{!-- Quick Questions --}}
            <div class="col-12 col-sm-6 col-md-3">
                <div class="card">
                    <img class="card-img-top img-thumbnail" src="/assets/images/lesson1.png" />
                    <div class="card-footer">Resources</div>
                </div>
            </div>
            {{!-- Quick Questions --}}
            <div class="col-12 col-sm-6 col-md-3">
                <div class="card">
                    <div class="img-fluid">
                        <img class="card-img-top img-thumbnail" src="/assets/images/questionmark.png" />
                    </div>
                    <div class="card-footer">Quick Questions</div>
                </div>
            </div>
        </div>

        {{!-- Twitter --}}
        {{!-- Create a twitter component --}}
        <div class="col-12">
            <div class="card">
                <div class="card-block">
                    Twitter feed in here...
                </div>
                <div class="card-footer">Popular Maths on Twitter</div>
            </div>
        </div>
    </div>
</div>
