
<h1>Login</h1>

<form class="form" {{action 'authenticate' on='submit' }}>

    <label for="identification" class="col-md-2 control-label">Email</label>
    <div class="col-md-10">
        {{input id='identification' class="form-control col-md-6" placeholder='Enter Login' value=identification}}
    </div>


    <label for="password" class="col-md-2 control-label">Password</label>
    <div class="col-md-10">
        {{input id='password' class="form-control col-md-6" placeholder='Enter Password' type='password' value=password}}
    </div>


    <div class="col-md-1 col-md-offset-5">
        <button type="submit" class="form-control btn btn-default">Login</button>
    </div>
    {{#if errorMessage}}
    <p>{{errorMessage}}</p>
    {{/if}}

</form>

<div class="col-lg-12">
    <h4>Not yet a member? Join the cause!</h4>
    {{#link-to 'register'}}<button class="btn btn-success">Sign up</button>{{/link-to}}
</div>
