<h1>School Book</h1>


{{#link-to 'schemes'}}
<div class="col-md-offset-2 col-md-8">
    <h1>My Schemes/Courses</h1>
</div>
{{/link-to}}

{{#link-to 'schemes'}}
<div class="col-md-offset-2 col-md-8">
    <img src="/assets/images/bookfriend.jpg" alt="" />
    <h1>Textbook</h1>
</div>
{{/link-to}}


{{outlet}}
