<div class="row align-items-center">


{{!-- Picture --}}
    <div class="col-6">
        <img src="assets/images/sulli.png">
    </div>

    <div class="col-6">
        <h1>Welcome to ClassMonster</h1>
        <h3>Your friendly <strong>monstrous</strong> education community... </h3>
        <p>
            ClassMonster is a community packed full of tools and resources to help you focus your time on teaching.
        </p>
        <p>ClassMonster is <strong>free</strong>. Full stop.</p>

        {{#link-to 'register'}}<button class="btn btn-success">Join The Revolution!</button>{{/link-to}}
        {{#link-to 'login'}}<button class="btn btn-secondary">Login</button>{{/link-to}}
    </div>

</div>

<div class="row">


    <div class="col-md-4">
        <h3>A Comprehensive Planner</h3>
        <p>Organise your timetable, plan a scheme of work and its delivery through the year.</p>
    </div>

    <div class="#ol-md-4">
        <h3>Packed full of Resources</h3>
        <p>Another great feature of ClassMonster</p>
    </div>

    <div class="col-md-4">
        <h3>And and a linked Assessment Manager</h3>
        <p>Create assessments and monitor student progress over time against scheme of work objectives and teaching goals</p>
    </div>
</div>
